<section class="container">
  <form action="" class="formulario" (ngSubmit)="transferencia()">

    <h2 class="formulario__titulo">Nova Transferência</h2>

    <div class="form-field">
      <label class="form-field__label" for="valor">Valor</label>
      <input calss="form-fiel__input" id="valor" type="text">
    </div>

    <div class="form-field">
      <label class="form-field__label" for="destino">Destino</label>
      <input class="form-fiel__input" id="destino" type="text">
    </div>

    <div class="botao-warpper">
      <button class="botao" type="submit">Transferir</button>
    </div>

  </form>
</section>
